<p>
    Here is your One Time Password(OTP) <br />
    Please enter this code to verify your email address for wordhive
</p>

<div class="w-full flex-center gap-4">
    {{#each code}}
    <span class="bg-[#CCEBFF] font-semibold px-4 py-2 rounded-lg">{{this}}</span>
    {{/each}}
</div>

<p>OTP will expire in 10 minutes.</p>