<h2>Verification Code</h2>
<p>Hi {{name}},</p>
<p>Thank you for signing up to Wordhive. Please use the following code to verify your email address:</p>
<p class="code">{{code}}</p>
<p>&copy; Wordhive inc.</p>