<h2>Order Completed</h2>
<p>Hello {{name}}, your order {{reference}} has been successfully completed and your work is out for delivery</p>
<p>Click the button below to confirm if your order has been delivered successfully</p>
<button><a href="https://wordhive.ng/account/confirm-delivery?id" + {{id}}>Confirm Delivery</a></button>
<p>&copy; Wordhive, inc.</p>