<p>
    your order was successful
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ipsa
    sapiente provident eaque explicabo possimus velit. Laborum nostrum sint
    odit, ad quas, qui blanditiis labore ipsum illum fuga rem nesciunt.
</p>

<div class="w-full flex-center">
    <a href="https://wordhive.ng/services">
        <button class="bg-primary text-white text-lg rounded-lg py-2 px-8">
            Explore our Services
        </button>
    </a>
</div>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
    eligendi porro odio. Beatae, laborum nobis.
</p>

<div>
    <p>Best Regards,</p>
    <p class="text-primary font-medium">Wordhive Team</p>
</div>