<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://api.wordhive.horlakz.com/static/styles/style.css" />
    <title>Wordhive</title>
</head>

<body>
    <main class="p-10 space-y-4">
        <div class="w-full flex-center pb-2">
            <img src="https://api.wordhive.horlakz.com/static/assets/logo.png" alt="logo" />
        </div>

        <h1 class="text-3xl text-[#171717] font-semibold">Hi {{name}},</h1>

        {{{body}}}


        <footer class="grid center gap-4 pt-14">
            <div class="flex gap-4 mb-6">
                <span class="bg-primary p-1 rounded-full">
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.727539" width="31.6524" height="31.6529" rx="15.4002" fill="#009CFF" />
                        <path
                            d="M14.5126 15.9628C14.5126 14.7612 15.4862 13.7869 16.6874 13.7869C17.8886 13.7869 18.8627 14.7612 18.8627 15.9628C18.8627 17.1644 17.8886 18.1387 16.6874 18.1387C15.4862 18.1387 14.5126 17.1644 14.5126 15.9628ZM13.3367 15.9628C13.3367 17.8139 14.8368 19.3145 16.6874 19.3145C18.538 19.3145 20.0381 17.8139 20.0381 15.9628C20.0381 14.1117 18.538 12.6111 16.6874 12.6111C14.8368 12.6111 13.3367 14.1117 13.3367 15.9628ZM19.3877 12.4782C19.3876 12.6332 19.4335 12.7846 19.5195 12.9135C19.6054 13.0423 19.7277 13.1427 19.8708 13.2021C20.0138 13.2614 20.1712 13.277 20.3232 13.2468C20.4751 13.2167 20.6146 13.1421 20.7242 13.0326C20.8337 12.9231 20.9083 12.7836 20.9386 12.6317C20.9689 12.4797 20.9535 12.3223 20.8942 12.1791C20.835 12.036 20.7347 11.9136 20.606 11.8275C20.4773 11.7413 20.3259 11.6953 20.171 11.6953H20.1707C19.9631 11.6954 19.764 11.7779 19.6172 11.9247C19.4704 12.0715 19.3878 12.2706 19.3877 12.4782ZM14.0512 21.2759C13.415 21.2469 13.0692 21.1409 12.8394 21.0513C12.5348 20.9327 12.3174 20.7914 12.0888 20.5631C11.8603 20.3348 11.7188 20.1176 11.6008 19.8128C11.5112 19.583 11.4052 19.2371 11.3763 18.6007C11.3446 17.9126 11.3383 17.706 11.3383 15.9629C11.3383 14.2198 11.3452 14.0137 11.3763 13.3251C11.4053 12.6887 11.512 12.3434 11.6008 12.1129C11.7194 11.8082 11.8606 11.5907 12.0888 11.3621C12.3171 11.1335 12.5342 10.992 12.8394 10.8739C13.0691 10.7843 13.415 10.6783 14.0512 10.6494C14.739 10.6177 14.9456 10.6114 16.6874 10.6114C18.4292 10.6114 18.636 10.6182 19.3244 10.6494C19.9606 10.6783 20.3058 10.7851 20.5362 10.8739C20.8408 10.992 21.0582 11.1338 21.2867 11.3621C21.5153 11.5904 21.6562 11.8082 21.7748 12.1129C21.8644 12.3427 21.9704 12.6887 21.9993 13.3251C22.0309 14.0137 22.0372 14.2198 22.0372 15.9629C22.0372 17.706 22.0309 17.9121 21.9993 18.6007C21.9703 19.2371 21.8638 19.5829 21.7748 19.8128C21.6562 20.1176 21.515 20.335 21.2867 20.5631C21.0585 20.7912 20.8408 20.9327 20.5362 21.0513C20.3065 21.1409 19.9606 21.2469 19.3244 21.2759C18.6366 21.3075 18.43 21.3138 16.6874 21.3138C14.9448 21.3138 14.7388 21.3075 14.0512 21.2759ZM13.9972 9.47508C13.3025 9.50672 12.8278 9.6169 12.4133 9.77825C11.984 9.94488 11.6205 10.1684 11.2574 10.5311C10.8942 10.8938 10.6713 11.258 10.5047 11.6874C10.3434 12.1023 10.2333 12.5769 10.2016 13.2718C10.1695 13.9677 10.1621 14.1902 10.1621 15.9628C10.1621 17.7354 10.1695 17.9579 10.2016 18.6539C10.2333 19.3488 10.3434 19.8233 10.5047 20.2382C10.6713 20.6674 10.8942 21.0319 11.2574 21.3945C11.6205 21.757 11.984 21.9803 12.4133 22.1474C12.8286 22.3087 13.3025 22.4189 13.9972 22.4506C14.6933 22.4822 14.9153 22.4901 16.6874 22.4901C18.4595 22.4901 18.6819 22.4827 19.3776 22.4506C20.0723 22.4189 20.5467 22.3087 20.9615 22.1474C21.3906 21.9803 21.7543 21.7572 22.1174 21.3945C22.4806 21.0318 22.703 20.6674 22.8701 20.2382C23.0314 19.8233 23.142 19.3487 23.1732 18.6539C23.2048 17.9574 23.2122 17.7354 23.2122 15.9628C23.2122 14.1902 23.2048 13.9677 23.1732 13.2718C23.1415 12.5768 23.0314 12.1021 22.8701 11.6874C22.703 11.2582 22.48 10.8944 22.1174 10.5311C21.7548 10.1679 21.3906 9.94488 20.962 9.77825C20.5467 9.6169 20.0723 9.5062 19.3782 9.47508C18.6824 9.44343 18.46 9.43555 16.6879 9.43555C14.9159 9.43555 14.6933 9.44291 13.9972 9.47508Z"
                            fill="white" />
                    </svg>
                </span>
                <span class="bg-primary p-2 rounded-full">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.0932 19.1998V12.6311H16.2184L16.5343 10.0726H14.0932V8.43735C14.0932 7.6976 14.2913 7.19146 15.3138 7.19146H16.6199V4.89992C16.3951 4.86655 15.6189 4.7998 14.7195 4.7998C12.8352 4.7998 11.5505 5.99563 11.5505 8.18706V10.0781H9.41992V12.6367H11.5505V19.1998H14.0932Z"
                            fill="white" />
                    </svg>
                </span>
            </div>

            <p class="text-center px-20">
                You are receiving this mail because you registered to join the
                WORDHIVE platform as a user. This also shows that you agree to our
                Terms of use and Privacy Policies. If you no longer want to receive
                mails from us, click the unsubscribe link below to unsubscribe.
            </p>

            <div class="flex gap-4">
                <a href="https://wordhive.ng/privacy-policy" class="text-[#a3a3a3]">
                    Privacy Policy
                </a>
                <a href="https://wordhive.ng/tos" class="text-[#a3a3a3]">
                    Terms of Service
                </a>
                <a href="https://wordhive.ng/contact" class="text-[#a3a3a3]">
                    Help Center
                </a>
                <a href="https://wordhive.ng/" class="text-[#a3a3a3]">
                    Unsubscriber
                </a>
            </div>

            <p>&copy; 2023 WORDHIVE. All rights reserved.</p>
        </footer>
    </main>
</body>

</html>